<div id="homeContent" style="padding-left:3vw;">
  <div id="welcomeText">
    <h2 id="welcome">Contact</h2>
    <p class="p-bigger">
      Created by Hank Hester
    </p>
    <img src="<%= asset_path('hank.jpg') %>" style="width:40%;"/>
    <p>
      The University of North Carolina at Chapel Hill<br>
      B.A. Linguistics and Computer Science, Class of 2019<br>
      Email: hankhester1@gmail.com<br>
      Phone: 704-775-2063
    </p>
  </div>
  <div id="getStarted">
      <button type="checkbox" id="button" class="hidden"></button>
      <label for="button" class="button">Get Started</label>
  </div>
</div>
