<div id="homeContent">
  <div id="welcomeText">
    <h2 id="welcome">Welcome</h2>
    <p class="p-bigger">
      HookUpr is a handy website to track all of your intimate encounters. Whether you need to remember their name at a party, or if you simply want to be able to reminisce about old times, Hookupr is the place for you.
    </p>
  </div>
  <div id="getStarted">
      <button type="checkbox" id="button" class="hidden"></button>
      <label for="button" class="button">Get Started</label>
  </div>
</div>
<script type="text/javascript">
document.getElementById("button").addEventListener("click", goToHookupr);
function goToHookupr() {
window.location.href="/hookups/new";
}
</script>
